<form method="post"
      class="form password-user-form">
    <input type="hidden" name="id">
    <div class="form-group currentPasswordControlGroup">
        <label for="currentPassword">Current password</label>
        <input id="currentPassword" type="password" name="currentPassword" class="form-control"
               data-validation="length" data-validation-length="min3"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group newPasswordControlGroup">
        <label for="newPassword">New Password</label>
        <input id="newPassword" type="password" name="newPassword" class="form-control"
               data-validation="length" data-validation-length="min3"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group confirmNewPasswordControlGroup">
        <label for="confirmNewPassword">Confirm new password</label>
        <input id="confirmNewPassword" type="password" class="form-control"
               data-validation="confirmation" data-validation-confirm="newPassword"/>
        <span class='has-error'></span>
    </div>
    <input type="submit" value="Submit" class="btn-primary edit-submit"/>
</form>