<form method="post" class="form edit-user-form">
    <div class="form-group firstNameControlGroup">
        <input type="hidden" name="id">
        <label for="firstName">First name</label>
        <input id="firstName" type="text" name="firstName" class="form-control"
               data-validation="custom length" data-validation-length="max50"
               data-validation-regexp="^[A-Za-zА-Яа-я]*$"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group lastNameControlGroup">
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" name="lastName" class="form-control"
               data-validation="custom length" data-validation-length="max50"
               data-validation-regexp="^[A-Za-zА-Яа-я]*$"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group birthDateControlGroup">
        <label for="birthDate">Birth date</label>
        <input id="birthDate" type="date" name="birthDate" class="form-control"
               data-validation="date"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group loginControlGroup">
        <label for="login">Login</label>
        <input id="login" type="text" name="login" class="form-control"
               data-validation="length" data-validation-length="max50" required/>
        <span class='has-error'></span>
    </div>
    <div class="form-group passwordControlGroup">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="form-control"
               data-validation="length" data-validation-length="min3"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group confirmPasswordControlGroup">
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" class="form-control"
               data-validation="confirmation" data-validation-confirm="password"/>
        <span class='has-error'></span>
    </div>
    <div class="form-group aboutControlGroup">
        <label for="about">About</label>
        <textarea id="about" type="text" name="about" class="form-control"
                  data-validation="length" data-validation-length="max500"></textarea>
        <span class='has-error'></span>
    </div>
    <div class="form-group addressControlGroup">
        <label for="address">Address</label>
        <textarea id="address" type="text" name="address" class="form-control"
                  data-validation="length" data-validation-length="max200"></textarea>
        <span class='has-error'></span>
    </div>
    <input type="submit" value="Submit" class="btn-primary edit-submit"/>
</form>