body {
    color: #52656B;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease-in-out .15s;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: 3px solid #fff;
    color: #FFFFFF;
}

.btn {
    border-radius: 10px;
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #52656B;
    border: 0;
    padding: 8px 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #FFFFFF;
    background-color: #52656B;
    border-color: #52656B;
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
    text-transform: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.form-control {
    height: 41px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    border-radius: 10px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #FF8598;
}

.error {
    color: red;
}

.about{
    padding-bottom: 10px;
    padding-top: 10px;
}

a, .btn-link {
    color: #09A7E4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #52656B;
}