<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Error Page</title>
</head>
<body>
<div class="bg-primary modal-header">
    <div class="container">
        <h1>Test task</h1>
    </div>
</div>
<div class="container content">
    <div class="jumbotron">
        <h1>Oopps... </h1>
        <h1 th:text="${status}"></h1>
        <h2 th:text="${message}"></h2>
        <p th:if="${exception}">
        <h2 th:text="${exception} + '!'"></h2>
        </p>
    </div>
</div>
<div class="navbar-fixed-bottom modal-footer bg-primary">
    <div class="container">By Yuriy Kozorezov</div>
</div>
</body>
</html>